@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Paytone+One&family=Squada+One&display=swap");

html,
body {
  font-family: "Squada One", "Noto Sans TC", cursive, sans-serif;
}
a {
  display: flex;
  align-items: center;
  text-decoration: none;
  // color: $black;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
main {
  min-height: calc(100vh - 85px - 56px);
  @include media-breakpoint-up(lg) {
    min-height: calc(100vh - 85px - 108px);
  }
}
input {
  &:focus {
    outline: none;
  }
}
