.text-Noto {
  @include text-Noto;
}
.text-Squada {
  @include text-Squada;
}
.text-Paytone {
  @include text-Paytone;
}
.navbar {
  &-brand {
    img {
      max-width: 50%;
      @include media-breakpoint-up(lg) {
        max-width: 100%;
      }
    }
  }
  &__search {
    i {
      &:before {
        display: inline-block;
      }
    }
  }
}
.nav-link {
  color: $black;
  &:hover {
    color: $primary;
  }
}
.bdr {
  position: fixed;
  height: 56px;
  background-color: $light;
  top: 0;
  z-index: 0;
  @include media-breakpoint-up(lg) {
    position: absolute;
    height: 0;
    top: 100%;
  }
}
.btn-more {
  position: relative;
  color: $black;
  font-size: 18px;
  padding: 4px 48px;
  width: fit-content;
  border: none;
  @include text-Squada;
  &:after {
    @include triangle;
  }
  &:hover {
    @include btn-more-hover;
  }
  &-outline {
    border: 1px solid $black;
    background-color: $white;
  }
  &-hover {
    @include btn-more-hover;
  }
}
.nav-tabs .nav-link {
  color: $secondary;
}
.modal {
  &-dialog {
    margin: 0 auto;
  }
  &-content {
    height: 100vh;
    @include media-breakpoint-up(sm) {
      height: auto;
    }
  }
  input[type="radio"]:checked + label {
    position: relative;
    border: 2px solid $primary !important;
    &:after {
      position: absolute;
      content: "\f00c";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: $primary;
      right: 16px;
    }
  }
}
