.nav-link {
  color: $black;
  &:hover {
    color: $primary;
  }
}
nav .bdr {
  position: fixed;
  height: 56px;
  background-color: $light;
  top: 0;
  z-index: 0;
  @include media-breakpoint-up(lg) {
    position: absolute;
    height: 0;
    top: 100%;
  }
}
.nav-tabs .nav-link {
  color: $secondary;
  &:hover {
    color: $black;
  }
}
