$img-xxl-h: 270px;
$img-xl-h: 220px;
$img-lg-h: 200px;

.artist {
  &__img {
    @include media-breakpoint-up(lg) {
      max-width: 416px;
    }
  }
}
.nav-tabs {
  .nav-link {
    line-height: 34px;
    @include media-breakpoint-up(lg) {
      line-height: 50px;
    }
  }
}
.pb-img-width {
  margin-bottom: 16px;
  &:before {
    @include triangle;
    border-width: 24px 24px 0 0;
    border-color: $black transparent;
    top: 0;
    left: 0;
  }
  &:after {
    @include triangle;
    border-width: 0 24px 24px 0;
    border-color: transparent $black;
    top: 0;
    right: 0;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: $img-lg-h;
    margin-bottom: 100px;
  }
  @include media-breakpoint-up(xl) {
    padding-bottom: $img-xl-h;
  }
  @include media-breakpoint-up(xxl) {
    padding-bottom: $img-xxl-h;
  }
}
.max-w-856px {
  max-width: 856px;
}
.art-works-img {
  position: relative;
  @include media-breakpoint-up(lg) {
    position: absolute;
    width: 100%;
    padding: 0 9%;
    left: 0;
    bottom: -12%;
  }
  .img-cover {
    border: 10px solid $black;
    width: 100%;
    height: 100%;
    @include media-breakpoint-up(lg) {
      height: $img-lg-h;
    }
    @include media-breakpoint-up(xl) {
      height: $img-xl-h;
    }
    @include media-breakpoint-up(xxl) {
      height: $img-xxl-h;
    }
    img {
      width: 100%;
      height: 100%;
      object-position: 50%;
    }
  }
}
