$utilities: map-merge(
  $utilities,
  (
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "width"), "values"),
              (
                "16px": 16px,
                "24px": 24px,
                "32px": 32px,
                "48px": 48px,
                "100px": 100px,
                "230px": 230px,
                34: 34%,
                "content": fit-content,
              )
            ),
        )
      ),
    "max-width":
      map-merge(
        map-get($utilities, "max-width"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "max-width"), "values"),
              (
                50: 50%,
                "73px": 73px,
              )
            ),
        )
      ),
    "height":
      map-merge(
        map-get($utilities, "height"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "height"), "values"),
              (
                "24px": 24px,
                "32px": 32px,
                "48px": 48px,
              )
            ),
        )
      ),
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
    "font-weight":
      map-merge(
        map-get($utilities, "font-weight"),
        (
          responsive: true,
        )
      ),
    "line-height":
      map-merge(
        map-get($utilities, "line-height"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "line-height"), "values"),
              (
                "34px": 34px,
              )
            ),
        )
      ),
  )
);

.vtr {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
}
.z-index-1 {
  z-index: 1;
}
