.artwork {
  @include media-breakpoint-up(lg) {
    &:hover {
      .artwork__overlay {
        display: block;
      }
    }
  }
  &__overlay {
    position: absolute;
    width: calc(100% - (8px * 2));
    height: calc(100% - (8px * 2));
    left: 0;
    top: 0;
    transform: translate(8px, 8px);
    background-color: rgba($color: $black, $alpha: 0.7);
    display: none;
    @include media-breakpoint-up(lg) {
      width: calc(100% - (24px * 2));
      height: calc(100% - (24px * 2));
      transform: translate(24px, 24px);
    }
  }
}
